<div *ngIf="hero" id="select__card" class="select_hero__card">
    <!-- <div class="close-btn" (click)="closeCard()"> X</div> -->
    <div class="select_hero__card-item">
        <p class="heading">{{hero.name | uppercase}} Details</p>
        <img src={{hero.imageUrl}} alt="profile-image" class="hero__profile-img">
        <p class="hero__id">id: {{hero.id}}</p>
        <h3 class="hero__name">{{hero.name}}</h3>
        <div>
            <label for="hero-name">Hero name: </label>
            <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
            <!-- <input type="button" value="Update"> -->
        </div>
    </div>

</div>
<div class="go-back-btn">
    <button (click)="goBack()">go back</button>
</div>